<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>PallaMusic</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="black" (click)="clickedStar()">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card *ngFor="let album of listAlbum" (click)="onClick([album.id])" routerDirection="forward">
    <img src={{album.cover_medium}} />
    <ion-card-header>
      <ion-card-subtitle>{{album.title }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>

