<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>PallaMusic</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="black" (click)="clickedStar()">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content [fullscreen]="true">
      <ion-list *ngFor="let track of listTrack">
          <ion-item >{{track.title}}
            <div class="end">
            <ion-button  fill="clear" (click)="backPreview([track.preview])">
              <ion-icon name="play-skip-back-circle-outline"></ion-icon>
            </ion-button>
              <ion-button fill="clear" (click)="playPreview([track.preview])">
                <ion-icon name="play-circle-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" (click)="forwardPreview([track.preview])">
                <ion-icon name="play-skip-forward-circle-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
      </ion-list>
  </ion-content>
  

